body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div,
button,
input,
textarea,
select {
  font-family: 'Montserrat', sans-serif !important;
}

p.lead.text-muted {
  font-weight: 500 !important;
  text-align: left !important; /* Changed from justify to left */
}
p.lead.text-center {
  text-align: center !important;
}
h1.text-center {
  text-align: center !important;
}
p,
.lead,
.text-muted,
.text-white-50 {
  text-align: left !important; /* Changed from justify to left */
}

p,
.lead,
.text-muted,
.text-white-50 {
  text-align: justify !important;
}

.fw-light {
  font-weight: 300 !important;
}

.fw-normal {
  font-weight: 400 !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.fw-bolder {
  font-weight: 800 !important;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
